
/* CSS full container*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #373b40;
    box-sizing: border-box;
    font-weight: 800;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wrapper ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 92px;
}


/* background */
.wrapper_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: #68e0cf;
}

.wrapper_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;         /*đặt chế độ hòa trộn thành độ sáng*/
}


/* wrapper_container-1   ----   wrapper_star */





/***CSS chung cho phần tiêu đề của nội dung***/
.wrapper_container{
    border-bottom: 1px solid #585D65;
    padding: 8% 4%;
    overflow: hidden;
}

.content_title{
    margin: 0 0 20px 4%;
}

.content_title h1{
    font-size: 49px;
    font-weight: 800;
    line-height: 66px;
    color: #fff;
    margin-bottom: 10px;
}

.content_title div{
    color: #68e0cf;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
}

/******/

/* About me */






/* Services */






/* Experience and Education*/





/* Design Skills */

@keyframes DesignSkills_change_width{
    0%{
        width: var(--width_old);
    }
    100%{
        width: var(--width_new);
    }
}

.content_DesignSkills .content_text>div{
    display: flex;
}

.content_DesignSkills .content_element{
    width: 92%;
    margin: 7% 4% 0 4%;
}

.content_DesignSkills .content_name{
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
}

.content_DesignSkills .content_explain{
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #fff; 
}

.content_DesignSkills .progress_90,
.content_DesignSkills .progress_70,
.content_DesignSkills .progress_55,
.content_DesignSkills .progress_86{
    position: relative;
    height: 2px;
    width: 100%;
    margin-top: 30px;
    background-color: #585d65;
}

.content_DesignSkills .percentage{
    position: absolute;
    height: 2px;
    background-color: #68e0cf;
}

.content_DesignSkills .progress_90 .percentage{
    --width_old: 6%;
    --width_new: 90%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .progress_70 .percentage{
    --width_old: 6%;
    --width_new: 70%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .progress_55 .percentage{
    --width_old: 6%;
    --width_new: 65%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .progress_86 .percentage{
    --width_old: 6%;
    --width_new: 86%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .percentage span{
    position: absolute;
    top: -18px;
    right: 0;
    color: #68e0cf;
    font-size: 12px;
    font-weight: 600;
}







/* Language Skills */

.content_LanguageSkills .content_text>div{
    display: flex;
}

.content_LanguageSkills .content_element{
    width: 92%;
    margin: 7% 4% 0 4%;
}

.content_LanguageSkills .content_name{
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
}

.content_LanguageSkills .content_explain{
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #fff; 
}

.content_LanguageSkills .progress{
    position: relative;
    width: 100%;
    height: 14px;
    margin-top: 30px;
}

.content_LanguageSkills .percentage,
.content_LanguageSkills .list_2{
    position: relative;
    height: 14px;
    overflow: hidden;
    background-color: transparent;
    z-index: 2;
}

#percentage_element_1{
    width: 90%;
}
#percentage_element_2{
    width: 70%;
}
#percentage_element_3{
    width: 55%;
}
#percentage_element_4{
    width: 86%;
}

.content_LanguageSkills .list_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: -14px;
    z-index: 1;
}

.content_LanguageSkills .percentage .list_1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 14px;   
}

#percentage_element_1 .list_1{
    width: calc(100% + 11.116%);
}
#percentage_element_2 .list_1{
    width: calc(100% + 42.864%);
}
#percentage_element_3 .list_1{
    width: calc(100% + 81.83%);

}
#percentage_element_4 .list_1{
    width: calc(100% + 16.18%);
}

.content_LanguageSkills .percentage .item_1,
.content_LanguageSkills .list_2 .item_2{
    display: block;
    width: 14px;
    height: 14px;
    background-color: #68e0cf;
    border-radius: 14px;
}
.content_LanguageSkills .percentage .item_1{
    animation: change_color 6s ease-in 3s infinite;
}

.content_LanguageSkills .list_2 .item_2{
    background-color: #585d65;
}

@keyframes change_color{
    0%{background-color: #fff;}
    40%{background-image: linear-gradient(0, #fff, #68e0cf);}
    100%{background-color: #68e0cf;}
}




/* Coding Skills */
@keyframes codingSkills_change_width{
    0%{
        width: var(--width_old);
    }
    100%{
        width: var(--width_new);
    }
}

.content_CodingSkills .content_element{
    width: 92%;
    margin: 7% 4% 0 4%;
    flex-direction: column;
}

.content_CodingSkills .content_name{
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
}

.content_CodingSkills .progress{
    background-color: #585d65;
    height: 16px;
    width: 100%;
}

.content_CodingSkills .percentage{
    background-image: linear-gradient(to right, #68e0cf, #fff);
    height: 100%;
    opacity: 86%;
}

.content_CodingSkills .content_element:nth-child(1) .percentage{
    --width_old: 6%;
    --width_new: 60%;
    animation: codingSkills_change_width 3s ease-out forwards;
}

.content_CodingSkills .content_element:nth-child(2) .percentage{
    --width_old: 6%;
    --width_new: 70%;
    animation: codingSkills_change_width 3s ease-out forwards;
}

.content_CodingSkills .content_element:nth-child(3) .percentage{
    --width_old: 6%;
    --width_new: 86%;
    animation: codingSkills_change_width 3s ease-out forwards;
}

.content_CodingSkills .content_element:nth-child(4) .percentage{
    --width_old: 6%;
    --width_new: 90%;
    animation: codingSkills_change_width 3s ease-out forwards;
}




/* Portfolio */






/* Contact */








/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 91px;
    border-left: 1px solid #585D65;
}