
/* CSS full container*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #373b40;
    box-sizing: border-box;
    font-weight: 800;
}


/* background_animations */

@keyframes change_height{
    0%{
        height: var(--height_old);
    }
    100%{
        height: var(--height_new);
    }
}

.background_animations{
    position: fixed;
    z-index: 30;
    height: 100%;
    width: 100%;
    background-color: #68e0cf;
    --height_old: 100%;
    --height_new: 0;
    animation: change_height 0.8s ease-in 0.4s forwards;
}

/*  */
.background{
    position: fixed;
    z-index: 30;
    height: 100%;
    background-color: #68e0cf;
    animation: change_height 0.8s ease-in 0.4s forwards;
}

/*  */

.background_animations div{
    /* position: absolute; */
    position: relative;
    z-index: 31;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #373b40;
    --height_old: 100%;
    --height_new: 0;
    animation: change_height 0.4s ease-in 0.5s forwards;
}

.background_animations .col_1,
.background_animations .col_3{
    position: absolute;
    z-index: 32;
    width: 11px;
    height: 30px;
    margin-right: 40px;
    background-color: #fff;
    opacity: 60%;
    --height_old: 10%;
    --height_new: 0;
    animation-direction: alternate;
    animation: change_height 0.6s ease-in 0.09s forwards;
}

.background_animations .col_2{
    position: absolute;
    z-index: 32;
    width: 10px;
    height: 30px;
    background-color: #68e0cf;
    opacity: 60%;
    /*  */
    --height: 10%;
    --height: 0;
    /*  */
    --height_old: 10%;
    --height_new: 0;
    animation-direction: alternate;
    animation: change_height 0.9s ease-in 0.15s forwards;

}

.background_animations .col_3{
    margin-left: 83px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header{
    display: flex;
    justify-content: center;
}

.header::before{
    content: "";
    position: fixed;
    background-color: #373b40;
    height: 40px;
    left: 45%;
    right: 92px;
    z-index: 3;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #585D65;
    width: 89%;
    position: fixed;
    top: 40px;
    border-radius: 41px;
    padding: 0.6% 0.6% 0.6% 3.2%;
    z-index: 3;
}

.navbar_list{
    display: flex;
    align-items: center;
}

.navbar_item{
    margin-left: 40px;
}

.navbar_item_link,
.navbar_menu_mobile a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    position: relative;
}

.navbar_item_link:hover{
    color: #68e0cf;
}

/*  */



/* logo */
.navbar_logo{
    display: flex;
    align-items: center;
}

.navbar_logo a {
    display: flex;
    text-decoration: none;
}

.navbar_logo a img{
    width: auto;
    height: auto;
    margin-right: 30px;
    object-fit: contain;    /*định dạng ảnh k bị méo*/
}

.navbar_logo a span{
    width: auto;
    height: auto;
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
}

/* home */
.navbar_item:nth-child(1) ul{
    display: none;
    background-color: #585d65;
    position: absolute;
    top: 65px;
    width: 180px;
    padding: 10px 0;
    border: 1px solid #585d65;
    box-shadow: 1px 1px 10px #3f3e3e;
}

.navbar_item:hover ul{
    display: block;
}

.navbar_item ul li{
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #747475;
}

.navbar_item ul li:last-child{
    border-bottom: none;
}

.navbar_item ul a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 11px;
    line-height: 16px;  
}

.navbar_item ul a:hover{
    color: #68e0cf;
}

.navbar_item ul::before{        /*hình tam giác*/
    content: "";
    position: absolute;
    border: 10px solid ;
    border-color: transparent transparent #585d65 transparent;
    right: 155px;
    top: -20px;
}

.navbar_item ul::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 15px;
    right: 130px;
    top: -16px;
}


/* download */

.navbar_item:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_item:last-child a{
    padding: 23px 39px;
    border: 1px solid #fff;
    border-radius: 41px;
    text-align: center;
}

.navbar_item:last-child a:hover{
    border: 1px solid #68e0cf;
}

/* css ICON */
.navbar_item .fa-solid {
    margin-left: 6px ;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wrapper ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 92px;
}


/* background */
.wrapper_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: #68e0cf;
}

.wrapper_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;         /*đặt chế độ hòa trộn thành độ sáng*/
}




/* wrapper_container-1   ----   wrapper_star */
.wrapper_container_1{
    border-bottom: 1px solid #585D65;
    padding: 0 8% 16% 0;
}

.content_started{
    position: relative;
}

.content_started h1{
    width: 100%;
    font-size: 4.2vw;
    line-height: 1.2;
    font-weight: 800;
    padding: 9%;
    margin: 29% 0 0 -25%;
    border-radius: 264px;
    color: #fff;
    background-color: #373b40;
    overflow: visible;
}

.content_started .content_started_list_1{
    position: relative;
    top: 16px;
    margin-top: 2%;
    max-width: 500px;
    padding-left: 8%;
}

.content_started .content_started_list_1 span{
    position: absolute;
    top: -45px;
    display: inline-block;
    width: 130px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #68e0cf;
    background-color: #373b40;
    overflow: hidden;
}

.content_started .content_started_list_1 span:nth-child(1){
    z-index: 1;
    border-right: 1.6px solid #68e0cf;
    --width_old: 0;
    --width_new: 130px;
    animation: change_width 2s ease-in-out infinite alternate;
}

.content_started .content_started_list_1 span:nth-child(2){
    text-align: end;
    background-color: #5e5c5c;
}

.content_started .content_started_list_1 .content_started_text{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    margin-top: 6%;
    text-align: left;
}

.content_started .content_started_list_1 .content_started_button{
    margin-top: 11%;
    display: flex;
}

.content_started .content_started_list_1 .content_started_button a{
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    margin-right: 7%;
    border: 1px solid #585D65;
    border-radius: 56px;
}

.content_started .content_started_list_1 .content_started_button a:first-child{
    display: inline-block;
    height: 56px;
    width: 160px;
    text-align: center;
    line-height: 56px;
}

.content_started .content_started_list_1 .content_started_button a:first-child i{
    margin-left: 4%;
}

.content_started .content_started_list_1 .content_started_button a:last-child{
    display: inline-block;
    height: 56px;
    width: 56px;
    position: relative;
    line-height: 56px;
    text-align: center;
}

.content_started .content_started_list_1 .content_started_button a:last-child i{
    position: absolute;
    top: 13px;
    font-size: 19px;
    right: calc(28px - 7px);
    animation: change_top 0.6s linear infinite alternate;
}


.content_started .content_started_button a:hover{
    color: #68e0cf;
    border: 1px solid #68e0cf;
}




/***CSS chung cho phần tiêu đề của nội dung***/
.wrapper_container{
    border-bottom: 1px solid #585D65;
    padding: 8% 4%;
    overflow: hidden;
}

.content_title{
    margin: 0 0 20px 4%;
}

.content_title h1{
    font-size: 49px;
    font-weight: 800;
    line-height: 66px;
    color: #fff;
    margin-bottom: 10px;
}

.content_title div{
    color: #68e0cf;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
}

/******/

/* About me */






/* Services */






/* Experience and Education*/





/* Design Skills */







/* Language Skills */





/* Coding Skills */





/* Portfolio */






/* Contact */








/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 91px;
    border-left: 1px solid #585D65;
}