
/* CSS full container*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #373b40;
    box-sizing: border-box;
    font-weight: 800;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wrapper ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 92px;
}


/* background */
.wrapper_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: #68e0cf;
}

.wrapper_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;         /*đặt chế độ hòa trộn thành độ sáng*/
}


/* wrapper_container-1   ----   wrapper_star */





/***CSS chung cho phần tiêu đề của nội dung***/
.wrapper_container{
    border-bottom: 1px solid #585D65;
    padding: 8% 4%;
    overflow: hidden;
}

.content_title{
    margin: 0 0 20px 4%;
}

.content_title h1{
    font-size: 49px;
    font-weight: 800;
    line-height: 66px;
    color: #fff;
    margin-bottom: 10px;
}

.content_title div{
    color: #68e0cf;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
}

/******/

/* About me */






/* Services */






/* Experience and Education*/





/* Design Skills */

@keyframes DesignSkills_change_width{
    0%{
        width: var(--width_old);
    }
    100%{
        width: var(--width_new);
    }
}

.content_DesignSkills .content_text>div{
    display: flex;
}

.content_DesignSkills .content_element{
    width: 92%;
    margin: 7% 4% 0 4%;
}

.content_DesignSkills .content_name{
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
}

.content_DesignSkills .content_explain{
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #fff; 
}

.content_DesignSkills .progress_90,
.content_DesignSkills .progress_70,
.content_DesignSkills .progress_55,
.content_DesignSkills .progress_86{
    position: relative;
    height: 2px;
    width: 100%;
    margin-top: 30px;
    background-color: #585d65;
}

.content_DesignSkills .percentage{
    position: absolute;
    height: 2px;
    background-color: #68e0cf;
}

.content_DesignSkills .progress_90 .percentage{
    --width_old: 6%;
    --width_new: 90%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .progress_70 .percentage{
    --width_old: 6%;
    --width_new: 70%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .progress_55 .percentage{
    --width_old: 6%;
    --width_new: 65%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .progress_86 .percentage{
    --width_old: 6%;
    --width_new: 86%;
    animation: DesignSkills_change_width 3s ease-in 5 forwards;
}

.content_DesignSkills .percentage span{
    position: absolute;
    top: -18px;
    right: 0;
    color: #68e0cf;
    font-size: 12px;
    font-weight: 600;
}







/* Language Skills */





/* Coding Skills */





/* Portfolio */






/* Contact */








/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 91px;
    border-left: 1px solid #585D65;
}