
/* CSS full container*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #373b40;
    box-sizing: border-box;
    font-weight: 800;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wrapper ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 92px;
}


/* background */
.wrapper_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: #68e0cf;
}

.wrapper_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;         /*đặt chế độ hòa trộn thành độ sáng*/
}


/* wrapper_container-1   ----   wrapper_star */





/***CSS chung cho phần tiêu đề của nội dung***/
.wrapper_container{
    border-bottom: 1px solid #585D65;
    padding: 8% 4%;
    overflow: hidden;
}

.content_title{
    margin: 0 0 20px 4%;
}

.content_title h1{
    font-size: 49px;
    font-weight: 800;
    line-height: 66px;
    color: #fff;
    margin-bottom: 10px;
}

.content_title div{
    color: #68e0cf;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
}

/******/

/* About me */
@keyframes about_change_opacity{
    0%{
        opacity: 5%;
    }
    100%{
        opacity: 100%;
    }
}

.content_About .content_about_information{
    margin: 4%;
    padding: 2% 0;
    border-left: 1px solid #585D65;
}

.content_About .content_about_information .information_detail{
    position: relative;
    line-height: 40px;
    margin: 4% 0 0 8% ;
    border: 1px solid #585D65;
    border-left: 1px solid #68e0cf;
    border-radius: 4px;
    padding: 1% 0 1% 3%;
    color: #fff;
    font-weight: 400;
    text-align: left;
    animation: about_change_opacity 5s ease-in 1s;
}


.content_About .content_about_information .information_detail:first-child{
    margin: 0 0 0 8% ;
}

.content_About .content_about_information .information_detail a{
    text-decoration: none;
    color: #fff;
}

.content_About .content_about_information .information_detail strong{
    display: inline-block;
    width: 32%;
    color: #68e0cf;
    font-weight: 600;
}

.content_About .content_about_information .information_detail::before{
    content: "";
    position: absolute;
    top: calc(20px - 6px);
    left: -10.3%;
    width: 12px;
    height: 12px;
    background-color:#585D65;
    border: 1px solid #68e0cf;
    border-radius: 12px;
}

.content_About .content_about_information .information_detail::after{
    content: "";
    position: absolute;
    top: calc(20px - 0.5px);
    left: -7.9%;
    width: 7.9%;
    height: 1px;
    background-color:#585D65;
}





/* Services */
.content_services .content_text>div{
    display: flex;
}

.content_services .content_element{
    width: 92%;
    margin: 7% 4% 0 4%;
}

.content_services .content_services_icon{
    margin-bottom: 15px;
}

.content_services .content_services_icon i{
    color: #68e0cf;
    font-size: 32px;
}

.content_services .content_name{
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
}

.content_services .content_explain{
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #fff; 
}





/* Experience and Education*/





/* Design Skills */







/* Language Skills */





/* Coding Skills */





/* Portfolio */






/* Contact */








/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 91px;
    border-left: 1px solid #585D65;
}